.files {
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.files_todo_lists {
    position: relative;
    height: 400px;
}

.files_container {
    display: flex;
    flex-direction: row;
    height: 210px;
    position: absolute;
    top: 150px;
    width: calc(100vw - 250px);
    margin: 0 auto 0 auto;
    left: 50%;
    transform: translate(-50%);
    overflow: scroll;
    gap: 20px;
}

.files_item {
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    background: #0e131c;
}

.files_item > h2 {
    margin: 5px 0 0 5px;
}

.files_notes {
    position: relative;
    height: 400px;
}

.files_notes > p, .files_todo_lists > p {
    font-size: 30px;
    padding: 5px 0 0 10px;
    margin: 0;
}

.l_arrow {
    position: relative;
    top: 150px;
    z-index: 1;
    background: #0a0d13;
    height: 100px;
    width: 50px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 85px;
    font-size: 80px;
    opacity: 50%;
    transition: 0.2s ease-in-out;
}

.r_arrow {
    position: relative;
    left: calc(100% - 50px);
    top: 50px;
    z-index: 1;
    background: #0a0d13;
    height: 100px;
    width: 50px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    line-height: 85px;
    font-size: 80px;
    opacity: 50%;
    transition: 0.2s ease-in-out;
}

.r_arrow:hover, .l_arrow:hover {
    opacity: 1;
    transform: scale(1.05);
}
