.files {
    min-height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.files_todo_lists {
    position: relative;
    height: 400px;
}

.files_notes {
    position: relative;
    height: 400px;
}

.files_notes > p, .files_todo_lists > p {
    font-size: 30px;
    padding: 5px 0 0 10px;
    margin: 0;
}

.l_arrow {
    position: relative;
    top: 150px;
    background: #0a0d13;
    height: 100px;
    width: 50px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 85px;
    font-size: 80px;
    opacity: 50%;
    transition: 0.2s ease-in-out;
}

.r_arrow {
    position: relative;
    left: calc(100% - 50px);
    top: 50px;
    background: #0a0d13;
    height: 100px;
    width: 50px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    line-height: 85px;
    font-size: 80px;
    opacity: 50%;
    transition: 0.2s ease-in-out;
}

.r_arrow:hover, .l_arrow:hover {
    opacity: 1;
    transform: scale(1.05);
}
