.account {
    min-height: 90vh;
    width: 100vw;
    display: flex;
}

.account_panel {
    background: #0a0d13;
    position: relative;
    margin: 10px auto 10px auto;
    width: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all ease-in-out 0.3s;
}

.account_panel input {
    background: #0e131c;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 400px;
    transition: ease-in-out 0.2s;
}

.account_panel form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.account_panel input[type=submit]:hover {
    transform: scale(1.05);
}

.identifier_warning {
    display: none;
}

.error_header {
    background: rgba(255, 19, 0, 0.49);
    height: 60px;
    padding: 0 15px 0 15px;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    margin: 10px 0 15px 0;
    display: none;
}